<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SendLoc</key>
	<array>
		<string>ToRoomStats</string>
		<string>ToInventory</string>
		<string>ToMortality</string>
		<string>ToMedications</string>
		<string>ToNotes</string>
		<string>Submit</string>
	</array>
	<key>Image</key>
	<array>
		<string>PRoomStats.jpg</string>
		<string>PInventory.jpg</string>
		<string>PMortality.jpg</string>
		<string>PMedications.png</string>
		<string>PNotes.jpg</string>
		<string>PSubmit.jpg</string>
	</array>
</dict>
</plist>
